.homepage-main-section {
    height: calc(100dvh - 7dvh);
    width: 100%;
    margin: 7dvh 0 0 0;

    .hompage-h1 {
        font-size: 3.25dvw;
        margin: 0 0 0 0.5em;
    }

    .tie-grid-container {
        height: 92%;
        width: 100%;
        padding: 0.5% 0.5%;

        display: grid;
        place-items: center;
        grid-template-columns: repeat(30, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 1vmin;

        .grid-child {
            position: relative;
            height: 100%;
            width: 100%;
            border-radius: 1vmax;
            overflow: hidden;
            background-color: var(--grid-color);

            h2 {
                font-size: 1.75dvw;
                color: var(--beigh);
                align-self: center;
            }
        }

        .leaderboard-container {
            padding-top: 20%;

            grid-column: 1 / span 6;
            grid-row: 1 / span 10 ;

            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h2 {
                position: absolute;
                top: 0.5%;

                height: 6%;
                width: 98%;
                background-color: var(--green);
                border-radius: 0.75vmax;

                display: grid;
                place-items: center;
            }
            p {
                font-weight: 200;
                margin-left: 7%;
                font-size: 1.2dvw;
            }
        }

        .tasks-container {
            grid-column: 7 / span 13;
            grid-row: 1 / span 10;

            h2 {
                position: absolute;
                top: 0.5%;
                left: 50%;
                transform: translate(-50%, 0);

                height: 6%;
                width: 99%;
                background-color: var(--green);
                border-radius: 0.75vmax;

                display: grid;
                place-items: center;
            }
            .tasks-container {
                width: 100%;
                height: calc(100% - 6vh);
                margin-top: 6dvh;

                overflow-y: scroll;

                ::-webkit-scrollbar {
                    display: none;
                  }
                
                /* Hide scrollbar for IE, Edge and Firefox */
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */

                section {
                    width: 99%;
                    height: 12%;
                    margin: 2% auto;
                    border-radius: 0.75vmax;
                    overflow: hidden;
                    
                    form {
                        height: 100%;
                        width: 100%;
                        background-color: var(--grid-color);

                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        input {
                            height: 100%;
                            width: 50%;
                            border: none;
                            background-color: transparent;
                            padding-left: 3.25%;
                            
                            outline: none;

                            font-size: 2.75dvw;
                            cursor: default;
                        }

                        div {
                            height: 100%;
                            width: 25%;

                            display: flex;
                            justify-content: space-around;
                            align-items: center;

                            button {
                                height: 75%;
                                aspect-ratio: 1 / 1;
                                border-radius: 1vmax;
                                background-color: var(--black);

    
                                border: none;
    
                                &:hover {
                                    border-radius: 0.75vmax;
                                    scale: 1.075;
                                }
                                &:active {
                                    border-radius: 0.75vmax;
                                    scale: 1;
                                }
    
                                i {
                                    color: var(--white);
                                    font-size: 3dvw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .homepage-main-section {
        height: calc(100dvh - 8dvh);
        width: 100%;
        margin: 0dvh 0 8dvh 0dvh;

        .hompage-h1 {
            font-size: 9dvw;
            text-align: center;
            margin: 0;
        }

        .tile-grid-container {
            height: 93%;
        }
    }
}