* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

:root {
  --black: #1c1c1c;
  --white: #f1f1f1;
  --beigh: #DAD9D2;
  --davs-gray: #4D5359;
  
  --myrtle-green: #508484;
  --mint: #79C99E;
  --green: #171D03;
  --light-green: #242d06;
  
  --taupe: #201d18;
  --taupe-light: #3a342b;
  --brown: #56504E;
}

p, h1, h2, h3, h4, h5, h6, label, input{
  color: var(--white);
  font-family: "Quicksand", sans-serif;
}

input {
  color: var(--black);
}

body {
  background-color: var(--black);
  font-family: 'Helvetica';
  overflow: hidden;
}

.color-palet-div {
  height: 75px;
  width: calc(75px * 4);

  display: flex;

  position: absolute;
  bottom: 5%;
  right: 3%;

  div {
    height: 100%;
    width: 100%;
  }
  div:nth-child(1) {
    background-color: var(--taupe);
  }
  div:nth-child(2) {
    background-color: var(--davs-gray);
  }
  div:nth-child(3) {
    background-color: var(--myrtle-green);
  }
  div:nth-child(4) {
    background-color: var(--mint);
  }

}
