* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #1c1c1c;
  --white: #f1f1f1;
  --taupe: #4A4238;
  --davs-gray: #4D5359;
  --myrtle-green: #508484;
  --mint: #79C99E;
}

p, h1, h2, h3, h4, h5, h6 {
  color: var(--white);
}

body {
  background-color: var(--black);
  font-family: 'Helvetica';
}