nav {
    position: absolute;
    top: 0;

    display: grid;
    place-items: center;

    background-color: rgba(240, 248, 255, 0.19);
    height: 7vh;
    width: 100%;

    .nav-link-container {
        position: relative;

        height: 90%;
        width: 60%;
        border-radius: 4vmax;
        border: solid 1px var(--black);
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: space-around;

        .nav-link {
            cursor: pointer;
            font-size: 1vw;
            text-align: center;
            z-index: 2;
            color: var(--black);
        }
        .nav-link.active {
            color: var(--white);
        }
        .fansy-shit {
            transition: all 350ms cubic-bezier(.3,-0.01,.49,1.25);
            position: absolute;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);

            height: 90%;
            width: 25%;
            background-color: var(--black);
            border-radius: 5vmax;
        }
    }
}


@media (max-width: 768px) {
    nav {
        height: 8vh;
        top: auto;
        bottom: 0;

        .nav-link-container {
            width: 95%;

            .nav-link {
                font-size: 3.5vw;
            }
        }
    }
}