.consent-form-container {
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 50;

    width: 100%;
    height: 35%;
    overflow: hidden;
    border-radius: 2vmax 2vmax 0vmax 0vmax;
    background-color: var(--beigh);

    h1 {
        color: var(--black);
        font-size: 3vw;
        margin: 3% 0 0 10%;
    }
    p {
        color: var(--black);
        font-size: 2vw;
        margin: 1% 0 0 10%;

        a {
            color: var(--green);
            text-decoration: underline;
            cursor: pointer;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}
.consent-form-container.active {
    bottom: 0;
}

.consent-button-toggler {
    position: absolute;
    bottom: 1%;
    left: 0.5%;
    z-index: 51;

    font-size: 1.25vw;
    color: var(--white);

    width: 4%;
    aspect-ratio: 1 / 1;
    border-radius: 5vmax;
    border: none;
    background-color: var(--black);

    &:hover {
        background-color: var(--light-green);
        transform: rotate(540deg);
    }
    &:active {
        background-color: var(--green);
        transform: rotate(180deg);
    }
}


@media (max-width: 768px) {
    .consent-button-toggler {
        font-size: 4vw;
        width: 10%;
        bottom: 9%;
        left: 1%;
    }

    .consent-form-container {
        height: 100%;
        h1 {
            font-size: 6.5vw;
            margin: 80% 0 0 10%;
        }
        p {
            font-size: 4vw;
            margin: 5% 10% 0;
        }
    }




    .consent-button-toggler.active {
        bottom: 0.5%;
    }
}